::selection {
    background-color: #ff79b8;
    color: #000;
}

html {
    color:#333;
    background: #f1efef;
    font-family: 'PingFang HK',Helvetica,Arial,sans-serif;
}

.page-content {
    margin:0 auto 100px;
}

.post-content {
    width: 850px;
    margin: 50px auto;
}

.post-header {
    margin-top: 50px;
}

.post-title {
    color: #000;
    font-weight: 600;
    font-size: 32px;
    max-width: 900px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 46px;
    margin: 0 auto;
}

.post-date {
    color: #666666;
    font-size: 12px;
    text-align: center;
    margin: 20px 0 20px;
}

.post-author {
    width: 100%;
    margin: 3px auto 40px;
    text-align: center;
    vertical-align: top;
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.separator {
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}

.return {
    position: absolute;
    right: 30px;
    top: 65px;
    height: 35px;
    width: 35px;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    text-align:center;
  }

.returns {
    text-decoration: none;
    display: block;
    margin-top: 9px;
}

a {
    color: #067df7;
    text-decoration: none;
}

p {
    font-weight: 300;
    color: #333;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
}

b {
    font-weight: 600;
}

h1 {
    font-weight: bold;
    font-size:34px;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}

h3 {
    margin: 40px 0 0 0;
    font-weight: bold;
    font-size: 26px; 
}

h4 {
    font-weight: bold;
    font-size: 24px;
}

blockquote {
    font-size: 18px;
    position: relative;
    margin-left: 0;
    padding: 0 0 0 60px;
    color: #585858;
}

hr {
    border:0;
    background:#06c;
    height:1px;
    width: 10%;
    color: rgb(227, 227, 227);
    margin: 40px auto;
   }

code {
    font-family: 'PingFang HK',Menlo, Monaco,"Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
    color: #d400ff;
    font-size: 0.9em;
    white-space: pre-wrap;
}

code::before {
    content: "`";
}

code::after {
    content: "`";
}

ul {
    list-style-type: none;
    margin: 20px 25px;
    padding: 0px;
}

li {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
}

li::before {
    content: "-";
    display: inline-block;
    color: #6b6b6b;
    position: absolute;
    margin-left: -15px;
}

pre {
    white-space: pre;
    border-width: 1px;
    border-style: solid;
    border-color: #eaeaea;
    border-image: initial;
    padding: 20px;
    margin: 40px 0px;
    overflow: auto;
}

pre > code {
    font-family: Menlo, Monaco, 'PingFang HK',"Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
    color: #000;
    font-size: 15px;
    line-height: 20px;
}

pre > code::before {
    content: "";
}

pre > code::after{
    content: "";
}

img {
    display: block;
	max-width: 75%;
	margin: auto;
}

.img-title {
	color: rgb(153, 153, 153);
	font-size: 14px;
    text-align: center;
    line-height: 1.6em;
	margin: 10px 0px 15px 0px;
}

.note {
    font-size: 14px;
    line-height: 1.8em;
    padding: 16px 24px;
    border-radius: 4px;
    border: 1px solid #dddddd;
    margin: 24px 0px;
}

.note-type {
    text-transform: uppercase;
    font-weight: 500;
}

.hint {
    font-size: 14px;
    line-height: 1.8em;
    padding: 16px 24px;
    border-radius: 4px;
    border: 1px solid #067df7;
    margin: 24px 0px;
}

.hint-type {
    text-transform: uppercase;
    font-weight: 500;
    color: #067df7;
}

.warn {
    font-size: 14px;
    line-height: 1.8em;
    padding: 16px 24px;
    border-radius: 4px;
    border: 1px solid #ff001f;
    margin: 24px 0px;
}

.warn-type {
    text-transform: uppercase;
    font-weight: 500;
    color: #ff001f;
}

a:hover{
    text-decoration: underline;
}

table {
    width:80%;
    margin:auto;
    border-collapse:collapse;
  }
  
th, td {
    text-align:left;
    padding:10px 10px 5px;
    border-bottom:1px solid #eaeaea;
}
  
dt {
    color:#222;
    font-weight:700;
}
  
th {
    font-weight: 500;
    color:#222;
}

blockquote::before {
    font-family: Georgia,serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 12px 0 3px;
    content: '\201C';
    text-align: center;
    color: #666;
}

@media only screen and (max-width: 500px) {
    .post-content {
        width: auto;
        margin: 50px 18px;
        line-height: 1.65em;
    }
    
    .post-header {
        margin-top: 80px;
    }
    
    .post-title {
        color: #000;
        font-weight: 600;
        font-size: 2.85rem;
        max-width: 900px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 46px;
        margin: 0 auto;
    }
    
    .post-date {
        color: #666666;
        font-size: 1rem;
        text-align: center;
        margin: 20px 0 20px;
    }
    
    .post-author {
        width: 100%;
        margin: 3px auto 20px;
        text-align: center;
        vertical-align: top;
        color: rgb(0, 0, 0);
        font-size: 1rem;
    }
    
    .return {
        visibility: hidden;
    }
    
    h1, h2, h3,
    h4, h5, h6 {
        margin: 0 0 0.3em 0;
    }

    h1 {
        font-size: 2.8rem;
        letter-spacing: -1px;
    }

    h2 {
        font-size: 2.4rem;
        letter-spacing: 0;
    }

    h3 {
        font-size: 2.1rem;
    }

    h4 {
        font-size: 1.9rem;
    }

    h5 {
        font-size: 1.8rem;
    }

    h6 {
        font-size: 1.8rem;
    }

    code {
        font-size: 0.9rem;
    }

    p, ul, ol, dl {
        font-size: 0.95em;
        margin: 0 0 2.5rem 0;
    }

    blockquote, .hint, .note, .warn {
        font-size: 0.95em;
    }

   
    
}