body {
    font-family:"Segoe UI", Arial,"Microsoft YaHei", sans-serif, Helvetica
}

.main {
    padding:45px;
}

.post {
    font-family: Menlo, Monaco, Lucida Console,"Segoe UI","Microsoft YaHei",Liberation Mono, Courier New, monospace, Helvetica, serif;
    margin: 0 auto;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 55%;
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .post {
        max-width: 90%;
    }

}

.post-title {
    font-weight: 500;
    margin: 0 0 8px 0;
    font-size: 24px;
    padding-right: 55px;
    line-height: 1.3em;
}

.post-date {
    color: #7c7c7c;
    font-size: 13px;
} 

 @media (min-width: 992px) {
     h1 {
         font-size: 28px;
         margin-bottom: 7px;
     }
     span {
         font-size: 14px;
     }

 }

 .post-content a {
         color: rgb(6, 125, 247);
         text-decoration: none;
         border-bottom: 1px dashed currentColor;
 }

 .post-content ol {
     list-style: decimal;
     margin: 30px 0;
     padding: 0 0 0 22px;
 }

 .post-content ul {
     font-family: Menlo, Monaco, Lucida Console,"Segoe UI","Microsoft YaHei",Liberation Mono, Courier New, monospace, Helvetica, serif;
     margin: 30px 0;
     list-style-type: none;
     padding: 0 0 0 18px;
 }

 li {
     font-size: 14px;
     margin-bottom: 10px;
     line-height: 24px;
 }

 li::before {
     content: "-";
     display: inline-block;
     color: rgb(153, 153, 153);
     position: absolute;
     margin-left: -15px;
 }

 li.shallow {
     margin-bottom: 10px;
 }

 .post-content p {
     font-size: 14px;
     line-height: 1.9em;
     margin-bottom: 20px;;
 }

 .post-content blockquote {
     margin: 30px 0;
     color: #9B9B9B;
     font-style: oblique;
     border-left: 3px solid #9B9B9B;
     padding-left: 17px;
     font-size: 15px;
 }

pre {
    margin:0;
    padding:0;
}
pre{
     padding: 20px 20px;
     font-size: 14px;
     color: rgb(189,16,224);
     border:1px solid;
     border-color: rgb(234,234,234);
     border-radius: 3px;
     width:100%;
     white-space: pre-wrap;
     font-family: Menlo, Monaco, Lucida Console,"Segoe UI","Microsoft YaHei",Liberation Mono, Courier New, monospace, Helvetica, serif;
     overflow: auto;
 }

 code {
    font-family: Menlo, Monaco, Lucida Console,"Segoe UI","Microsoft YaHei",Liberation Mono, Courier New, monospace, Helvetica, serif;
    font-size: 14px;
    color: rgb(189,16,224);
 }

 code::before {
     content: "`";
 }

 code::after {
    content: "`";
 }

 pre > code::before {
    content: "";
 }

 pre > code::after {
    content: "";
 }


 div.return {
     position: absolute;
     right: 30px;
     top: 40px;
     height: 37px;
     width: 37px;
 }

a.returns  {
     font-size: 19px;
     text-align: center;
     background: #efefef;
     font-weight: bold;
     box-sizing: border-box;
     color: #000;
     height: inherit;
     display: block;
     width: inherit;
     line-height: 44px;
     border-radius: 100%;
     font-family: 'Courier New', serif;
     text-decoration: none;
 }

 hr {
    width: 8%;
    color: rgb(227, 227, 227);
    margin: 40px auto;
 }
