---
---

/*@import "rouge-base16-dark";*/
@import url('https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700');

html {
  background:#6C7989;
  background: #6C7989 linear_gradient(#6C7989, #434B55) fixed;
}

body {
  padding:50px 0;
  margin:0;
  font:16px/1.7 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#000;
  font-weight:300;
  background:inline-image('checker.png') fixed;
}

.wrapper {
  width:70%;
  margin:0 auto;
  background:#FFF;
  border-radius: 8px;
  box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
}

.post {
    font-family:"San Francisco","Lucida Grande","Lucida Sans Unicode","helvetica neue",Verdana,tahoma,Aril,PingFangSC-Light,"hiragino sans gb",STXihei,"华文细黑","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei","微软雅黑",Heiti,"黑体",sans-serif;
    margin: 0 auto;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 80%;
    padding-bottom: 50px;
}

.post-header {
    padding: 60px 20px 25px 20px;
}

.post-title {
    color: rgb(0, 0, 0);
    font-weight: 200;
    font-size: 34px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0 0 8px 0;
    padding-right: 55px;
    line-height: 1.3em;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(234, 234, 234);
}

.post-date {
    /*color: rgb(153, 153, 153);*/
    color:#222;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    margin: auto;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.post-author {
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
    vertical-align: top;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin-top: 3px;
    margin-bottom: 40px;
}

.img-title {
	color: rgb(153, 153, 153);
	font-size: 14px;
	text-align: center;
	margin: 10px 0px 15px 0px;
}

.return {
   position: absolute;
   right: 30px;
   top: 65px;
   height: 37px;
   width: 37px;
 }

 header, section, footer {
  display:block;
}

a {
  color:#069;
  text-decoration:none;
}

p {
  margin:0 0 20px;
  padding:0;
}

strong {
  color:#222;
  font-weight:700;
}

header {
  border-radius: 8px 8px 0 0;
  /*background:#C6EAFA; */
  background: linear_gradient(#DDFBFC, #C6EAFA);
  position:relative;
  padding:15px 20px;
  /*border-bottom:1px solid #B2D2E1;*/

  h1 {
    margin:0;
    padding:0;
    font-size:24px;
    line-height:1.2;
    color:#069;
    text-shadow:rgba(#fff, 0.9) 0 1px 0;
  }

  &.without-description h1 {
    margin:10px 0;
  }

  p {
    margin:0;
    color:#61778B;
    width:300px;
    font-size:13px;

    &.view {
      display:none;
      font-weight:700;
      text-shadow:rgba(#fff, 0.9) 0 1px 0;
      -webkit-font-smoothing:antialiased;

      a {
        color:#06c;
      }

      small {
        font-weight:400;
      }
    }
  }

  ul {
    margin:0;
    padding:0;
    list-style:none;
    position:absolute;
    z-index:1;
    right:20px;
    top:20px;
    height:38px;
    padding:1px 0;
    background:#5198DF;
    background: linear_gradient(#77B9FB, #3782CD);
    border-radius:5px;
    box-shadow: inset rgba(#fff, 0.45) 0 1px 0, inset rgba(#000, 0.2) 0 -1px 0;
    width:auto;

    &:before {
      content:'';
      position:absolute;
      z-index:-1;
      left:-5px;
      top:-4px;
      right:-5px;
      bottom:-6px;
      background:rgba(#000, 0.1);
      border-radius: 8px;
      box-shadow: rgba(#000, 0.2) 0 -1px 0, inset rgba(#fff, 0.7) 0 -1px 0;
    }

    li {
      width:79px;
      float:left;
      border-right:1px solid #3A7CBE;
      height:38px;

      &.single {
        border:none;
      }
    }

    li + li {
      width:78px;
      border-left:1px solid #8BBEF3;
    }

    li + li + li {
      border-right:none;
      width:79px;
    }

    a {
      line-height:1;
      font-size:11px;
      color:#fff;
      color:rgba(#fff, 0.8);
      display:block;
      text-align:center;
      font-weight:400;
      padding-top:6px;
      height:40px;
      text-shadow:rgba(#000, 0.4) 0 -1px 0;

      strong {
        font-size:14px;
        display:block;
        color:#fff;
        -webkit-font-smoothing:antialiased;
      }
    }
  }
}

section {
  padding:15px 20px;
  font-size:15px;
  border-top:1px solid #fff;
  background: linear_gradient(#fafafa, #DEDEDE 700px);
  border-radius: 0 0 8px 8px;
  position:relative;
}

h1, h2, h3, h4, h5, h6 {
  color:#000;
  padding:0;
  margin:40px 0 10px;
  line-height:1.2;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#000;
}

h3 {
    font-size:20px;
}

h3::before {
	content: "# ";
	left: -1em;
	color: #f72d84;
}

blockquote {
  margin:10px 5px;
  padding:10px 20px 1px 20px;
  font-style:italic;
  color:rgb(136,136,136);
  border-left:3px solid rgb(0,0,0);
  font-size: 15px;
}

img {
	display: inherit;
	max-width: 65%;
	margin: auto;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#069;
  font-size:14px;
  /*overflow-x:auto;*/
}

code::before {
    content: "`";
}

code::after {
    content: "`";
}

pre {
  padding:15px 60px;
  color:black;
  margin:0 -20px 20px;

  code {
    color:black;
  }

  code::before {
    content: "";
  }

  code::after {
    content: ""
  }

  li & {
    margin-left:-60px;
    padding-left:60px;
  }
}

table {
  width:80%;
  margin:auto;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #aaa;
}

dt {
  color:#222;
  font-weight:700;
}

th {
  color:#222;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#06c;
  height:1px;
  width: 10%;
  color: rgb(227, 227, 227);
  margin: 40px auto;
 }

footer {
  width:640px;
  margin:0 auto;
  padding:20px 0 0;
  color:#ccc;
  overflow:hidden;

  a {
    color:#fff;
    font-weight:bold;
  }

  p {
    float:left;
  }

  p + p {
    float:right;
  }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
  body {
    padding:0;
  }

  .wrapper {
    border-radius: 0;
    box-shadow: none;
    width:100%;
  }
	
  .post {
  	width: 85%;
  }

  footer {
    border-radius: 0;
    padding:20px;
    width:auto;

    p {
      float:none;
      margin:0;
    }

    p + p {
      float:none;
    }
  }
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) {
  body {
  	font-size: 32px;
  }

  code {
  	font-size: 28px;
  }

  .wrapper {
  	width: 100%;	
  }

  .post {
  	width: 90%;
  }

  header ul {
    display:none;
  }

  header p.view {
    display:block;
  }

  header p {
    width:100%;
  }
}

@media print {
  header p.view a small:before {
    content:'at https://github.com/';
  }
}
