body {
    font-family:"Segoe UI", Arial,"Microsoft YaHei", sans-serif, Helvetica
}

.main {
    padding:45px;
}

.post {
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    margin: 0 auto;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 55%;
}


.post-title {
    color: rgb(0, 0, 0);
    font-weight: 200;
    font-size: 32px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0 0 8px 0;
    padding-right: 55px;
    line-height: 1.3em;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(234, 234, 234);
}

.post-date {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    margin: auto;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
} 

.post-author {
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
    vertical-align: top;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 40px;
}

 @media (min-width: 992px) {
     h1 {
         font-size: 28px;
         margin-bottom: 7px;
     }
     span {
         font-size: 14px;
     }

 }

 .post-content a {
         font-size: 15px;
         color: rgb(6, 125, 247);
         text-decoration: none;
 }

 .post-content ol {
     list-style: decimal;
     margin: 30px 0;
     padding: 0 0 0 22px;
 }

 .post-content ul {
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
     margin: 30px 0;
     list-style-type: none;
     padding: 0 0 0 18px;
 }

 li {
     font-size: 14px;
     margin-bottom: 10px;
     line-height: 24px;
 }

 li::before {
     content: "-";
     display: inline-block;
     color: rgb(153, 153, 153);
     position: absolute;
     margin-left: -15px;
 }

 li.shallow {
     margin-bottom: 10px;
 }

.post-content p {
     font-size: 14px;
     line-height: 1.9em;
     margin-bottom: 20px;;
 }

.post-content blockquote {
     margin: 30px 0;
     color: #9B9B9B;
     font-style: oblique;
     border-left: 3px solid #9B9B9B;
     padding-left: 17px;
     font-size: 15px;
 }

pre {
    margin:0;
    padding:0;
}
pre{
     padding: 20px 20px;
     font-size: 14px;
     color: rgb(189,16,224);
     border:1px solid;
     border-color: rgb(234,234,234);
     border-radius: 3px;
     width:100%;
     white-space: pre-wrap;
     font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
     overflow: auto;
 }

 code {
    font-family: Menlo, Monaco, Lucida Console,"Segoe UI",Helvetica,"Microsoft YaHei",Liberation Mono, Courier New, monospace, serif;
    font-size: 14px;
    color: rgb(189,16,224);
 }

 code::before {
     font-family: Menlo, Monaco, Lucida Console;
     content: "`";
 }

 code::after {
    font-family: Menlo, Monaco, Lucida Console;
    content: "`";
 }

 pre > code::before {
    content: "";
 }

 pre > code::after {
    content: "";
 }


 div.return {
     position: absolute;
     right: 30px;
     top: 40px;
     height: 37px;
     width: 37px;
 }

a.returns  {
     font-size: 19px;
     text-align: center;
     background: #efefef;
     font-weight: bold;
     box-sizing: border-box;
     color: #000;
     height: inherit;
     display: block;
     width: inherit;
     line-height: 44px;
     border-radius: 100%;
     font-family: 'Courier New', serif;
     text-decoration: none;
 }

 hr {
    width: 8%;
    color: rgb(227, 227, 227);
    margin: 40px auto;
 }

 @media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .post {
        max-width: 90%;
    }

   .post-content p {
      font-size:18px;
    }

    ul > li {
      font-size:18px;
    }

    pre > code {
      font-size:18px;
    }

}
